ol li{
  list-style-type: none;
}
.title{
  color: white;
  font-weight: bold;
}
#div{
  color:rgb(255,218,180);
  text-align: center;
}
.discript{
  color:white;
}

hr{
  width: 500px;
  background:rgb(255,218,180);
  border:0;
  height: 1px;
}
h3{
  color:white;
}
